.cuadrado1 {
     width: 100px; 
     height: 100px; 
     background: red;
}
.cuadrado2 {
     width: 100px; 
     height: 100px; 
     background: blue;
}
.cuadrado3 {
     width: 100px; 
     height: 100px; 
     background: green;
}
.cuadrado4 {
     width: 100px; 
     height: 100px; 
     background: yellow;
}
.cuadrado5 {
     width: 100px; 
     height: 100px; 
     background: orange;
}